<header>
  <div class="title">
    <h2>
      <b routerLink="/home"> THE COCKTAIL CABINET </b>
    </h2>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
    >
      <span
        class="navbar-toggler-icon d-flex align-items-center justify-content-center"
      >
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"> COCKTAILS BY CATEGORY</a>

          <ul class="category-list">
            <li
              *ngFor="let category of categoryList"
              (click)="gotoCockTailsList(category.strCategory, 'category')"
            >
              {{ category.strCategory }}
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"> COCKTAILS BY GLASS</a>
          <ul class="category-list">
            <li
              *ngFor="let glass of glassTypeList"
              (click)="gotoCockTailsList(glass.strGlass, 'glass')"
            >
              {{ glass.strGlass }}
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"> COCKTAILS BY INGREDIENT</a>
          <ul class="category-list">
            <li
              *ngFor="let ingredients of ingredientsList"
              (click)="
                gotoCockTailsList(ingredients.strIngredient1, 'ingredient')
              "
            >
              {{ ingredients.strIngredient1 }}
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"> COCKTAILS BY ALCOHOL</a>
          <ul class="category-list">
            <li
              *ngFor="let alcoholType of alcoholList"
              (click)="gotoCockTailsList(alcoholType.strAlcoholic, 'alcohol')"
            >
              {{ alcoholType.strAlcoholic }}
            </li>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ng-pristine ng-valid ng-touched">
        <input
          id="searchInput"
          class="form-control m-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </ngx-navbar-collapse>
  </nav>
</header>
