$item-color: #a45241;
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 0 8px 1px #00000036;
  padding: 0.9% 1.5%;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;

  .title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 1px;
    b {
      outline: 0;
    }
  }

  nav {
    width: 100%;
    font-family: monospace;
    display: inline-block;
    a {
      color: $item-color;
    }
    ul {
      padding-left: 0;
    }

    li {
      padding: 1rem;
      background-color: #fff;

      &:hover {
        background-color: gray;
      }
      &:hover > .category-list {
        visibility: visible;
      }
    }
    .category-list {
      text-align: left;
      list-style-type: none;
      position: absolute;
      margin-top: 2rem;
      width: 11rem;
      visibility: hidden;

      li {
        margin: -1rem;
        padding: 1.45rem;
      }
    }
  }
}
