<div class="coctailslist-container">
  <div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a> cocktails by {{ category }} / {{ query }} </a>
        </li>
      </ol>
    </nav>

    <div class="sort-container">
      <label>SORT BY</label>
      <select name="Name" id="">
        <option value="name">Name</option>
      </select>
    </div>
  </div>
  <hr />

  <div class="loading-indicator" *ngIf="isLoadingMain">
    <img src="../../assets/images/loader.svg" alt="" />
    <h1>Loading ...</h1>
  </div>
  <div class="loading-indicator" *ngIf="hasNoData">
    <h1>SORRY NO DATA FOUND</h1>
  </div>

  <div class="card-columns">
    <div class="card" *ngFor="let drink of drinkCards">
      <img
        src="{{ drink.strDrinkThumb }}"
        class="card-img-top"
        alt="..."
        loading="lazy"
      />
      <div class="card-body">
        <button class="accordion" (click)="showDrinkDetails(drink.idDrink)">
          {{ drink.strDrink }}
        </button>
        <div class="loading-indicator hidden" id="{{ drink.idDrink }}-loader">
          <img src="../../assets/images/loader.svg" alt="" />
        </div>
        <div class="card-text hidden" id="{{ drink.idDrink }}">
          <ul>
            <li id="{{ drink.idDrink }}-category"><b>Catagory: </b></li>
            <li id="{{ drink.idDrink }}-alocholic"><b>Alcoholic: </b></li>
            <li id="{{ drink.idDrink }}-glass"><b>Glass: </b></li>
            <li id="{{ drink.idDrink }}-instructions"><b>Instructions: </b></li>
            <li>
              <b>Ingredients: </b> >
              <span id="{{ drink.idDrink }}-ingredients"></span>
            </li>
            <li>
              <b>Measurements: </b>
              <span id="{{ drink.idDrink }}-measure"></span>
            </li>
            <li id="{{ drink.idDrink }}-instructionsDE">
              <b>DE Instructions:: </b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
