$label-color: #a45241;
.card {
  padding: 3%;
  border-radius: 0%;
}
.breadcrumb {
  li + li::before {
    color: #ccc;
    content: ">";
  }
  background-color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: Montserrat, Helvetica, sans-serif;
  li {
    color: $label-color;
  }
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  transition: 0.4s;
  font-family: Montserrat, Helvetica, sans-serif;
  color: $label-color;
  text-transform: uppercase;
  font-size: 1rem;
}

.loading-indicator {
  padding: 5%;
  text-align: center;
}

.sort-container {
  width: 20%;
  color: $label-color;
  label {
    padding: 1%;
  }
}

.card-text {
  margin-top: 1%;
  ul {
    padding-inline-start: 0;
  }
  li {
    list-style-type: none;
    padding: 1%;
  }
}
