<div class="card-columns">
    <div class="card custom-card" *ngFor="let card of cardsData">
        <img src="" alt="">
        <h3> {{ card.name }} </h3>
        <p> {{ card.description }} </p>
    </div>
</div>