<div class="form-container">
<div class="title"><h2>Registration</h2></div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="InputName">User Name</label>
            <input type="text" class="form-control" id="InputName" aria-describedby="userNameHelp" placeholder="Enter UserName">
          </div>
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="InputPassword">Password</label>
          <input type="password" class="form-control" id="InputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="InputPasswordAgain">Re-Type Password</label>
            <input type="password" class="form-control" id="InputPasswordAgain" placeholder="Re-Type Password">
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="CheckedIn">
          <label class="form-check-label" for="CheckedIn">Stay Signed in</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>