<div class="form-container">
<div class="title"><h2>Log In</h2></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="InputPassword">Password</label>
          <input type="password" class="form-control" id="InputPassword" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="CheckedIn">
          <label class="form-check-label" for="CheckedIn">Stay Signed in</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>