/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
$item-color: #a45241;
body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    scrollbar-width: thin; 
    a {
        color: $item-color;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(180,180,180,.767);
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #adadad;
    border-radius: 10px;
}

.container-wrap {
    padding-top: 11rem;
    min-height: 90vh;
}

.hidden{
    display: none;
}

.form-container {
    padding: 5%;
}