<div class="main-container">
  <div class="heading-container">
    <div class="col text-center">
      <img src="../../assets/images/cocktail-header.jpg" alt="" />
    </div>

    <div class="banner-text-top">DRINK OF THE DAY...</div>

    <hr />
    <q>
      THIRSTY? WE HAVE HUNDREDS AND HUNDREDS OF DELICIOUS COCKTAIL RECIPES FROM
      EXPERT BARTENDERS AROUND THE WORLD. NO MATTER IF YOU'RE LOOKING FOR A
      CLASSIC COCKTAIL, A PUNCH FOR A PARTY OR AN ORIGINAL CONCOCTION, WE HAVE A
      COCKTAIL RECIPE FOR EVERY TASTE AND OCCASION, JUST A SHAKE, STIR OR POUR
      AWAY.
    </q>
  </div>

  <div class="drink-container">
    <div class="card-group">
      <div class="card">
        <img
          src="{{ drinkData.imgurl }} "
          class="card-img-top"
          alt="IMAGE LOADING"
        />
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            <b> {{ drinkData.name }} </b>
          </h2>
          <ul>
            <li><b>Catagory: </b> {{ drinkData.category }}</li>
            <li><b>Alcoholic: </b> {{ drinkData.alcoholic }}</li>
            <li><b>Glass: </b> {{ drinkData.glass }}</li>
            <li><b>Instructions: </b>{{ drinkData.instructions }}</li>
            <li>
              <b>Ingredients: </b> >
              {{ drinkData?.ingredient1 }},
              {{ drinkData?.ingredient2 }},
              {{ drinkData?.ingredient3 }},
              {{ drinkData?.ingredient4 }}
            </li>
            <li>
              <b>Measurements: </b>
              {{ drinkData?.measure1 }},
              {{ drinkData?.measure2 }},
              {{ drinkData?.measure3 }},
              {{ drinkData?.measure4 }}
            </li>
            <li><b>DE Instructions:: </b>{{ drinkData.instructionsDE }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid banner-text-bottom">Become a Cocktail Expert</div>
</div>
