.heading-container {
  padding-bottom: 1rem;
  font-size: 0.85rem;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
}

.card {
  margin: 1%;
  padding: 1%;
  border-radius: 0;
  margin: 0;
  .card-body {
    padding: 1% 0.5%;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.banner-text-top {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.banner-text-bottom {
  font-size: 1.25rem;
  color: #a45241;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}
